venv
tests
configuration.json
production*
movies_database
__pycache__
.idea
*.ipynb
netflix.json
/netflix-scraper/config/production.yaml
/netflix-scraper/node_modules
/netflix-scraper/session
/netflix-scraper/.DS_Store
/netflix-scraper/scraped.json
/netflix-scraper/watched.json
/netflix-scraper/netflix.json